### Ejercicios Básicos para Python - Clase 2

Problema 1. Dado dos numeros 30 y 13587, calcular la multiplicación y la suma de ambos.

In [1]:
num1 = 30;
num2 = 13581;

mult = num1*num2;
suma = num1 + num2;

print("Multiplicacion: ", mult)
print("Suma: ", suma)

Multiplicacion:  407430
Suma:  13611

Problema 2. Calcula la resta y la divisón entre 7654387  y 7891.

In [2]:
num1 = 7654387;
num2 = 7891;

resta = num1-num2;
div = num1/num2;

print("Resta: ", resta)
print("Division: ", div)

Resta:  7646496
Division:  970.0148270181219

Problema 3. Dado los numeros del 1 al 10, calcular la suma de la lista de numeros entre sí. Máximo 5 lineas para resolverse.

In [4]:
num = [1,2,3,4,5,6,7,8,9,10]
suma = 0
for i in num:
    suma += i
print("Suma", suma)

Suma 55

Problema 4. Imprime los caracteres de la palabra: "Australopitecus" que se encuentran en posiciones impares.

In [8]:
palabra = "Australopitecus"
i = 1
for letra in palabra:
    if i%2 != 0:
        print(letra)
    i += 1

A
s
r
l
p
t
c
s

Problema 5. Dada las listas de numeros: [10, 20, 30, 40, 10] y [75, 65, 35, 75, 30] realizar la suma entre ambas correspondiendo a cada valor en cada posición.

In [6]:
lista1 = [1,2,3,4,5]
lista2 = [6,7,8,9,10]
suma = []
for i in range(len(lista1)):
    suma.append(lista1[i] + lista2[i])
print(suma)

[7, 9, 11, 13, 15]

Problema 6. Dada la lista de numeros [75, 65, 35, 75, 30, 78, 5, 48, 33, 12, 80, 1234, 75135, 11247, 455722, 33547, 118722348] obtener los valores que sean divisibles por 3.

Problema 7. Dada la lista de numeros: [75, 65, 35, 75, 30] imprimirla en reversa.

Problema 8. Imprimir la tabla de multiplicación del 12.

Problema 9. Imprimir el siguiente patrón:



```
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
```

Problema 10. Imprimir la serie de Fibonacci hasta 11 terminos.