### Trabajo Modulo 2

Llegamos al final del modulo 2 y estamos en condiciones de analizar un dataset, entrenar un primer modelo (en este caso de clasificacion) y evaluar resultados.

En este proyecto trabajaran con un dataset que contiene informacion sobre personas, el objetivo es crear un modelo que permita predecir si la persona es fumadora o no.

Podran acceder al conjunto de datos en el siguiente enlace: https://docs.google.com/spreadsheets/d/1335AaFI1WufJkv56b9u-JwdLKifenolp/edit?usp=sharing&ouid=107760286087613309815&rtpof=true&sd=true

### Entrega

Deberan adjuntar una notebook tipo "informe" donde se incluya: carga de datos, limpieza y manipulacion de los mismos, EDA, feature selection, entrenamiento y evaluacion de modelos, conclusiones.

Tambien deberan descargar los siguientes datos: https://docs.google.com/spreadsheets/d/1dpTMd0R0-YJ6psx8egWNR-IL5g6QPraL/edit?usp=sharing&ouid=107760286087613309815&rtpof=true&sd=true


Y realizar una prediccion con el que consideren su mejor modelo y adjuntarlas incluyendo dicha prediccion en una variable nueva al final del dataset llamada "Smoking".

Solucion de TP

In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [10]:
df = pd.read_csv("smoking_prediction.xlsx - smoking_prediction.csv")
df.head()

,ID,gender,age,height(cm),weight(kg),waist(cm),eyesight(left),eyesight(right),hearing(left),hearing(right),...,hemoglobin,Urine protein,serum creatinine,AST,ALT,Gtp,oral,dental caries,tartar,smoking
0,0,F,40,155,60,3.38,0.04,0.04,0.04,0.04,...,0.51,0.04,0.00,0.75,0.79,1.13,Y,0,Y,0
1,1,F,40,160,60,3.38,0.01,0.00,0.04,0.04,...,0.50,0.04,0.00,0.92,0.79,0.75,Y,0,Y,0
2,2,M,55,170,60,3.33,0.01,0.01,0.04,0.04,...,0.63,0.04,0.04,0.88,0.67,0.92,Y,0,N,1
3,3,M,40,165,70,3.67,0.05,0.05,0.04,0.04,...,0.59,0.04,0.04,0.79,1.08,0.75,Y,0,Y,0
4,4,F,40,155,60,3.58,0.04,0.04,0.04,0.04,...,0.50,0.04,0.00,0.67,0.58,0.92,Y,0,N,0

In [11]:
df.shape

(50000, 27)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   50000 non-null  int64
 1   gender               50000 non-null  object
 2   age                  50000 non-null  int64
 3   height(cm)           50000 non-null  int64
 4   weight(kg)           50000 non-null  int64
 5   waist(cm)            50000 non-null  float64
 6   eyesight(left)       50000 non-null  float64
 7   eyesight(right)      50000 non-null  float64
 8   hearing(left)        50000 non-null  float64
 9   hearing(right)       50000 non-null  float64
 10  systolic             50000 non-null  float64
 11  relaxation           50000 non-null  float64
 12  fasting blood sugar  50000 non-null  float64
 13  Cholesterol          50000 non-null  float64
 14  triglyceride         50000 non-null  float64
 15  HDL                  50000 non-null  float64
 16  LDL                  50000 non-null  float64
 17  hemoglobin           50000 non-null  float64
 18  Urine protein        50000 non-null  float64
 19  serum creatinine     50000 non-null  float64
 20  AST                  50000 non-null  float64
 21  ALT                  50000 non-null  float64
 22  Gtp                  50000 non-null  float64
 23  oral                 50000 non-null  object
 24  dental caries        50000 non-null  int64
 25  tartar               50000 non-null  object
 26  smoking              50000 non-null  int64
dtypes: float64(18), int64(6), object(3)
memory usage: 10.3+ MB

In [15]:
##Chequeo de valores nulos
df.isna().sum()/df.shape[0]*100

ID                     0.0
gender                 0.0
age                    0.0
height(cm)             0.0
weight(kg)             0.0
waist(cm)              0.0
eyesight(left)         0.0
eyesight(right)        0.0
hearing(left)          0.0
hearing(right)         0.0
systolic               0.0
relaxation             0.0
fasting blood sugar    0.0
Cholesterol            0.0
triglyceride           0.0
HDL                    0.0
LDL                    0.0
hemoglobin             0.0
Urine protein          0.0
serum creatinine       0.0
AST                    0.0
ALT                    0.0
Gtp                    0.0
oral                   0.0
dental caries          0.0
tartar                 0.0
smoking                0.0
dtype: float64